pytest
pydevd-pycharm~=192.7142.42
aws-cdk.aws-ssm==1.18.0
aws-cdk.aws-iam==1.18.0
aws-cdk.aws-s3==1.18.0
aws-cdk.aws-ecs==1.18.0
aws-cdk.aws-ecs-patterns==1.18.0
aws-cdk.aws-ec2==1.18.0
aws-cdk.aws-rds==1.18.0
aws-cdk.aws-elasticache==1.18.0
aws-cdk.aws-cloudwatch==1.18.0
aws-cdk.aws-logs==1.18.0
aws-cdk.aws-elasticloadbalancingv2==1.18.0
