[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
redis = "==3.3.11"
celery = "==4.3.0"
flower = "==0.9.3"
psycopg2-binary = "==2.8.4"
django-cors-headers = "==3.2.0"
django-celery-email = "==2.0.2"
django-model-utils = "==3.2.0"
django-debug-toolbar = "==2.2.1"
django-taggit = "==1.1.0"
django-filter = "==2.2.0"
djangorestframework = "==3.10.3"
djangorestframework-simplejwt = "==4.3.0"
drf-dynamic-fields = "==0.3.1"
Django = "==2.2.8"
drf-writable-nested = "==0.5.3"
coverage = "==4.5.4"
freezegun = "==0.3.12"
pytest = "==5.2.4"
pytest-django = "==3.7.0"
pytest-cov = "==2.8.1"
pytest-xdist = "==1.30.0"
pydevd-pycharm = "~=192.7142.42"
supervisor = "==4.1.0"
factory-boy = "==2.12.0"
django-health-check = "==3.11.1"
django-reversion = "==3.0.4"
uwsgi = "==2.0.18"

[requires]
python_version = "3.8.0"
